<div class="white-auto-container">
    <div class="all-spots">
        <h4>All spots by <%= @user.username %>:</h4>
        <ul style="margin-top: 32px">
            <% @spots.each do |spot| %>
                <li><%= link_to "#{spot.bird.name} in #{spot.location} on #{spot.spot_date}", user_spot_path(@user, spot) %></li>
            <% end %>
        </ul>
    </div>

    <div class="center-flex margin-top-40">
        <%= button_to "Back to\nprofile", profile_path(@user), method: :get, class: "back-btn" %>
    </div>
</div>