      <div class="spot-form-container">
        <h4>New spot</h4>
        <%= simple_form_for [@user, @spot] do |f| %>
          <div class="form-inputs">
            <%= f.input :location,
                        label: false,
                        input_html: { placeholder: "location" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Submit", class: "btn-submit btn-red btn-fill" %>
          </div>
        <% end %>
      </div>


 <%#= f.collection_select :bird_id, Bird.order(:name),:id,:name, include_blank: true %>
