      <div class="spot-container">
        <div class="map-container">
          <div id="map" data-markers="<%= @markers.to_json %>">

          </div>
        </div>
          <h4><%= link_to @spot.bird.name, bird_path(@spot.bird_id) %></h4>
          <h6><%= @spot.bird.latin_name %></h6>

      </div>
