/* forest color scheme */
$pistachio: #b1e593;
$magenta: #7a50f1;
$dark-magenta: #3e1d9b;
$pink-magenta: #eb63ff;
$gold: #ffbb22;
$pale-gold: #ffe289;
$slate: #615e72;
$light-slate: #cedce3;
$light-grey: #d0d0d0;
$medium-grey: #a0a0a0;







