$a-white: #FEFEFE;
$a-black: #010101;
$light-grey: #D0D0D0;

$cream: #F9F7E8;
$warm-red: #E5283F;
$light-green: #79CCB0;
$medium-green: #3FA880;
$dark-green: #051E16;
$forest-green: #245B3B;

$emerald: #319B86;
$light-pink: #FFE2E9;
$red-sand: #E5A191;
$medium-red: #82293E;

$lavender-blue: #B3C2F2;
$slate-blue: #735CDD;
$violet-ryb: #9000B3;
$patriarch: #7E007B;
$dark-sienna: #37000A;
$old-mauve: #611C35;
$yellow-orange: #FFA630;

