/* forest color scheme */
$pistachio: #b1e593;
$magenta: #d859f7;
$dark-magenta: #9531ad;
$pink-magenta: #ef4bef;
$gold: #ffbb22;
$pale-gold: #fff0c1;
$slate: #828e93;
$light-slate: #c3d2d8;
$light-grey: #D0D0D0;
$medium-grey: #A0A0A0;







