ul.bird-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
}

.bird-show-container {
  min-height: 360px;
}

.bird-img {
  margin: 0 0 28px 24px;
  width: 300px;
  height: 320px;
  float: right;
  img {
    width: 100%;
    border-radius: 3px;
  }
  p {
    margin: 8px 0;
    color: $medium-grey;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}

.new-bird-container {
  margin: 10vw auto;
  width: 50vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.new-bird-input {
  margin: 32px auto;
  width: 380px;
}

.no-bird-container {
  margin: 12vw auto;
  width: 40vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.source {
  font-size: 0.8rem;
}

