.bird-container {
  margin: 5vw auto 10vw auto;
  width: 70vw;
}

.bird-content {
  padding: 24px 32px;
  background: $a-white;
  border-radius: 16px;
  h5 {
    margin: 32px 0 16px 0;
    font-size: 1.4rem;
  }
  h6 {
    margin-bottom: 32px;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: italic;
  }
  p {
    margin-top: 16px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.birdmap-container {
  margin: 32px 0;
  height: 320px;
}

.bird-img {
  margin: 16px 0 28px 24px;
  width: 300px;
  height: 320px;
  img {
    width: 100%;
    border-radius: 2px;
  }
  p {
    margin: 8px 0;
    color: $medium-grey;
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}

.new-bird-container {
  margin: 10vw auto;
  width: 50vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.new-bird-input {
  margin: 32px auto;
  width: 380px;
}

.no-bird-container {
  margin: 12vw auto;
  width: 40vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}
