.new-bird-container {
  margin: 10vw auto;
  width: 50vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}

.new-bird-input {
  margin: 32px auto;
  width: 380px;
}

.no-bird-container {
  margin: 12vw auto;
  width: 40vw;
  p {
    margin-top: 24px;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
}
