.daily-container {
  margin: 10vw auto;
  width: 50vw;
}

.daily-title {
  padding: 12px 32px;
  color: $cream;
  background: $warm-red;
  font-weight: 800;
  border-radius: 30px;
}

.daily-img-container {
  width: 300px;
  height: 320px;
  color: $medium-grey;
  font-size: 0.6rem;
  img {
    width: 100%;
  }
  float: right;
}
