.home-logo {
  margin: 32px 16px;
  width: 360px;
  height: auto;
}

.home-buttons {
  padding: 40px;
  width: 100%;
}

.home-border-container {
  margin: 16px;
  padding: 10%;
  border: 12px solid rgba(255, 255, 255, 0.5);
  width: auto;
  height: 80vh;
}

.home-container {
  padding: 32px 40px;
  background: white;
  width: auto;
  height: auto;
}

h1.home {
  margin-bottom: 40px;
  color: $magenta;
  font-size: 42pt;
  font-weight: 800;
}