.home-logo {
  margin: 32px 16px;
  width: 340px !important;
  height: auto;
}

.home-buttons {
  padding: 40px;
  width: 100%;
}

h1.home {
  margin-top: 32px;
  margin-bottom: 40px;
  font-size: 42pt;
}