.profile-content {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 32px;
}

.profile-info {
  width: 100%;
  max-width: 520px;
  ul {
    margin-top: 16px;
    width: 100%;
  }
  li {
    margin: 0;
    padding: 6px 12px;
    font-size: 11pt;
    font-weight: 600;
  }
  li:nth-child(odd) {
    background: $light-slate;
  }
  li:nth-child(even) {
    background: white;
  }
}

.profile-spots {
  margin: 32px 0;
}

.profile-pic {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
  }
}

.profile-btn-container {
  margin: 0 auto;
  width: 184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1500px) {
  .profile-info {
    max-width: 300px;
  }
}

@media (max-width: 1260px) {
  .profile-info {
    max-width: 450px;
  }
}

@media (max-width: 1000px) {
  .profile-info {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .profile-pic {
    margin-top: 16px;
    max-width: 380px;
  }
}