.spot-form-container {
  margin: 10vw auto;
  width: 60vw;
  height: 60vw;
}

.spot-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.spot-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 24px;
  background: $light-slate;
  border-radius: 3px;
  width: 100%;
  ul {
    margin: 0;
  }
  li {
    margin: 8px 0;
    font-size: 11pt;
    font-weight: 700;
  }
}

.spot-user-pic {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
  }
}

.spot-thumbs-container {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
}

.spot-thumb {
  margin: 8px 16px 8px 0;
  width: 96px;
  height: 64px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
  }
}

.spot-pic-content {
  margin: 2.5vw auto;
  padding: 16px;
  width: 90vw;
  height: 90vh;
  background: white;
  text-align: center;
  img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}

.all-spots {
  width: 50vw;
  max-width: 500px;
  ul {
    margin-top: 16px;
    width: 100%;
  }
  li.spot {
    margin: 0;
    padding: 6px 12px;
    font-size: 11pt;
    font-weight: 600;
  }
  li.spot:nth-child(odd) {
    background: $light-slate;
  }
  li.spot:nth-child(even) {
    background: white;
  }
}

@media (max-width: 600px) {
  .all-spots {
    width: 82vw;
  }
}