.spot-form-container {
  margin: 10vw auto;
  width: 60vw;
  height: 60vw;
}

.spot-container {
  width: 70vw;
  h6 {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
  }
}

.map-container {

}

#map {
  width: 320px;
  height: 320px;
}
