      <div class="daily-container">
        <span class="daily-title">
          Bird of the day
        </span>
        <div class="daily-img-container">
          <%= cl_image_tag(@bird.image.key) %>
          <br>
          <%= @bird.credit %>
        </div>
        <br><br><br>
        <h4><%= @bird.name %></h4>
      </div>

