      <div class="daily-container">
        <div class="daily-title">
          Bird of the day
        </div>
        <h4><%= @bird.name %></h4>
        <br>
        <br>
        <div class="daily-img-container">
          <%= cl_image_tag(@bird.image.key) %>
        </div>
      </div>

