<div class="white-auto-container">
    <div class="add-bird margin-bottom-40">
        <h4>Bird already exists</h4>
        <p>
            The bird species can already be found in the database. To easily find the bird, select the dropdown menu and type the bird's name while the menu is selected.
        </p>
    </div>

    <div class="center-flex margin-bottom-16">
        <%= button_to "New\nspot", new_user_spot_path(current_user), method: :get, class: "spot-btn" %>
    </div>
</div>
