<div class="white-auto-container">

    <% @sorted_birds.each do |letter| %>
        <div class="list-item">
            <div class="list-letter">
                <div class="letter-box center-flex"><%= letter[0] %></div>
            </div>
            <div class="list-content">
                <ul>
                    <% letter[1].each do |bird| %>
                        <li><%= link_to bird.name, bird_path(bird) %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <div class="center-flex margin-top-40">
        <%= button_to "Add\nbird", new_bird_path, method: :get, class: "spot-btn" %>
    </div>

</div>
