      <div class="new-bird-container">

        <p>
          To add a new bird species, find the English species name as listed on <a href="https://en.wikipedia.org/wiki/" target="_blank">Wikipedia.</a>
          It is crucial that you find a bird species, rather than a genus or a family of birds. For instance, magpie is not a species. To add the bird
          commonly known as magpie in Europe, you would enter the name eurasian magpie.
        </p>

      </div>
