<div class="white-auto-container">
    <div class="form-container">
        <div class="add-bird margin-bottom-40">
            <h4>Not found</h4>
            <p>
                The bird species could not be found. Please check spelling and try again.
            </p>
        </div>

        <div class="center-flex margin-bottom-16">
            <%= button_to "Add\nbird", new_bird_path, method: :get, class: "spot-btn" %>
        </div>
    </div>
</div>
