      <div class="no-bird-container">
        <h4>
          Not found
        </h4>
        <p>
          The bird species could not be found. Please check spelling and try again.
        </p>

        <div class="top-margin centered">
          <%= button_to "New bird", new_bird_path, method: :get, class: "btn-submit btn-red btn-fill" %>
        </div>
      </div>
