.btn-bird {
  font-family: inherit;
  font-weight: 900;
  font-size: 16pt;
}

.btn-round {
  width: 104px;
  height: 104px;
  border-radius: 100px;
}

.btn-oblong {
  width: 50vw;
  max-width: 500px;
  height: 48px;
  border-radius: 3px;
}

.btn-mag-outline {
  border: 3px solid $magenta;
  color: $magenta;
  background: white;
}

.btn-mag-outline:hover, .btn-mag-outline:active {
  border: 3px solid $pink-magenta;
  color: $pink-magenta;
  background: white;
}

.btn-mag {
  border: 3px solid $magenta;
  background: $magenta;
  color: white;
}

.btn-mag:hover, btn-mag:active {
  border: 3px solid $pink-magenta;
  background: $pink-magenta;
  color: white;
}

.btn-gold {
  color: white;
  background: $gold;
}

.btn-gold:hover, btn-gold:active {
  background: $pink-magenta;
  color: white;
}

.btn-home {
  margin: 0 100px;
}

.btn-fill {
  width: 200px;
}

.close {
  margin-top: -12px;
  float: right;
  color: black;
  font-weight: 600;
  font-size: 2rem !important;
}

.back-btn {
  font-size: 8pt;
  padding: 16px;
  width: 72px;
  height: 72px;
  color: white;
  background: $magenta;
  line-height: 10pt;
  border-radius: 100px;
  margin: 8px;
  font-family: inherit;
  font-weight: 800;
  border: 0;
  text-transform: uppercase;
}

.back-btn:hover {
  background: $pink-magenta;
}