.btn-bird {
  font-family: inherit;
  font-weight: 900;
  font-size: 16pt;
}

.btn-round {
  width: 104px;
  height: 104px;
  border-radius: 100px;
}

.btn-oblong {
  width: 256px;
  height: 48px;
  border-radius: 3px;
}

.btn-mag-outline {
  border: 3px solid $magenta;
  color: $magenta;
  background: white;
}

.btn-mag {
  border: 3px solid $magenta;
  background: $magenta;
  color: white;
}

.btn-gold {
  color: white;
  background: $gold;
}

.btn-gold:hover, btn-gold:active {
  background: $pink-magenta;
  color: white;
}

.btn-white-outline {
  color: $a-white;
  background: rgba(0, 0, 0, 0);
  border: 3px solid $a-white;
}

.btn-home {
  margin: 0 100px;
}

.btn-submit {
  margin-top: 12px;
  padding: 11px 0;
  color: $a-white;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
  border-radius: 50px;
}

.btn-fill {
  width: 200px;
}

.close {
  margin-top: -12px;
  float: right;
  color: $a-black;
  font-weight: 600;
  font-size: 2rem !important;
}
