.btn-round {
  width: 110px;
  height: 110px;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
  border-radius: 100px;
}

.btn-red {
  color: $a-white;
  background: $red-sand;
  border: 0;
}

.btn-red-outline {
  color: $red-sand;
  background: rgba(0, 0, 0, 0);
  border: 3px solid $red-sand;
}

.btn-white-outline {
  color: $a-white;
  background: rgba(0, 0, 0, 0);
  border: 3px solid $a-white;
}

.btn-home {
  margin: 0 100px;
}

.btn-submit {
  margin-top: 12px;
  // padding: 11px 80px;
  color: $a-white;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.2rem;
  border-radius: 50px;
}

.btn-fill {
  width: 160px;
}
