.footer {
  flex-grow: 0;
  height: 80px;
  width: 100%;
  font-weight: bold;
  font-size: 11pt;
  ul {
    margin: 0;
  }
  li {
    margin: 0 32px;
    display: inline;
  }
  a, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $pink-magenta;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .footer {
    height: 48px;
    font-size: 10pt;
    li {
      margin: 0 16px;
    }
  }
}
