.footer {
  height: 80px;
  color: $cream;
  background: $light-grey;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.01rem;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    margin: 0;
  }
  li {
    margin: 0 16px;
    display: inline;
  }
  a, a:visited {
    color: $cream;
    text-decoration: none;
  }
}
