input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $pale-gold inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}

input[type=text], input[type=password], input[type=email] {
  margin-bottom: 24px;
  width: 50vw;
  max-width: 500px;
  background: $pale-gold;
  font-size: 12pt;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
}

textarea#user_bio, textarea#spot_note {
  resize: none;
  font-weight: 700 !important;
  background: $pale-gold;
  width: 50vw;
  max-width: 500px;
}

::placeholder {
  color: $slate !important;
  font-weight: 700;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-control {
  border: 0 !important;
}

.form-inputs {
  margin-top: 32px;
}

.form-check {
  font-weight: 600;
}

.label-input {
  font-size: 12pt;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.spot_spot_date {
  width: 100%;
}

#spot_bird_id {
  padding: 0.5rem 1rem;
}

#spot_number {
  padding: 0.375rem 0.75rem;
}

#spot_bird_id, #spot_number {
  font-family: inherit;
  margin-bottom: 24px;
  width: 50vw;
  max-width: 500px;
  background: $pale-gold;
  font-size: 12pt;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
}

#spot_spot_date_1i, #spot_spot_date_2i, #spot_spot_date_3i {
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-bottom: 24px;
  width: 14vw;
  max-width: 140px;
  background: $pale-gold;
  font-size: 12pt;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
}


@media (max-width: 600px) {
  input[type=text], input[type=password], input[type=email] {
    margin-bottom: 16px;
    width: 82vw;
    font-size: 10pt;
  }

  textarea#user_bio, textarea#spot_note, #spot_bird_id, #spot_number, {
    width: 82vw;
    font-size: 10pt;
  }

  #spot_spot_date_1i, #spot_spot_date_2i, #spot_spot_date_3i {
    width: 24vw;
    font-size: 10pt;
  }
}