input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $pale-gold inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: $a-black !important;
}

input[type=text], input[type=password], input[type=email] {
  margin-bottom: 24px;
  width: 256px;
  background: $pale-gold;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
}

textarea {
  resize: none;
  font-weight: 700 !important;
}

::placeholder {
  color: $slate !important;
  font-weight: 700;
}

.login-container {
  margin: 10vw auto 20vw auto;
  width: 40vw;
}

.form-container {
  margin: 10vw auto;
  width: 40vw;
}

.form-control {
  border: 0 !important;
}

.form-inputs {
  margin-top: 32px;
}

.form-check {
  font-weight: 600;
}

.label-input {
  font-size: 1rem;
  font-weight: 700;
  input[type=text], input[type=number] {
    width: 500px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}

