.nav-container {
  background: rgba(255, 255, 255, 0.5); 
}

.logo-navbar-container {
  width: 308px;
  height: 32px;
}

.nav-birds {
  padding-left: 6vw;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-btn, .spot-btn {
  margin: 8px;
  font-family: inherit;
  font-weight: 800;
  font-size: 11pt;
  border: 0;
  text-transform: uppercase;
}

.nav-btn {
  padding: 8px;
  color: $magenta;
  background: transparent;
}

.nav-btn:hover {
  color: $pink-magenta;
}

.spot-btn {
  padding: 16px;
  width: 72px;
  height: 72px;
  color: white;
  background: $magenta;
  line-height: 13pt;
  border-radius: 100px;
}

.spot-btn:hover {
  background: $gold;
}
