h2.navbar {
  margin-left: 64px;
  color: $cream;
  font-weight: 900;
  font-size: 2.6rem;
  a, a:hover, a:active, a:visited {
    color: $cream;
    text-decoration: none;
  }
}

.line-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-line {
  width: 94vw;
  height: 5px;
  border-radius: 3px;
  background: $pretty-pink;
}

.logo-navbar-container {
  width: 308px;
  height: 32px;
}

.nav-birds {
  padding-left: 6vw;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.nav-btn {
  margin-right: 24px;
  padding: 8px;
  width: 80px;
  height: 80px;
  color: $emerald;
  background: transparent;
  font-family: inherit;
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 100px;
  border: 0;
}

.spot-btn {
  margin: 0 30px 0 6px;
  width: 80px;
  height: 80px;
  color: $emerald;
  background: $white;
  font-family: inherit;
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 100px;
  border: 0;
}

.spot-btn:hover {
  background: $light-pink;
}
