h2.navbar {
  margin-left: 64px;
  color: $cream;
  font-weight: 900;
  font-size: 2.6rem;
}

.nav-birds {
  height: 100px;
  background: $medium-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dropdownMenuButton {
  margin-right: 64px;
  width: 64px;
  height: 64px;
  color: $cream;
  background: $warm-red;
  font-family: inherit;
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 100px;
  border: 0;
}
