// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $pistachio;
  /* ---  FOREST PHOTO BY PIXABAY  --- */
  /*  https://www.pexels.com/@pixabay  */
  background-image: url('pexels-pixabay.jpg');
  background-position: center;
  background-size: cover;
}

textarea:focus, input:focus {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1 {
  color: $dark-magenta;
}

h3 {
  font-size: 16pt;
}

h4 {
  margin: 32px 0 16px 0;
  font-size: 16pt;
}

h5 {
  margin-top: 32px;
  font-size: 12pt;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

h6 {
  margin-bottom: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 11pt;
  font-weight: 600;
  font-style: italic;
}

p {
  margin-top: 16px;
  font-size: 12pt;
  line-height: 18pt;
}

a {
  color: $magenta;
  text-decoration: none;
}

a:hover, a:active {
  color: $pink-magenta;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 12px;
}

p {
  font-size: 12pt;
  line-height: 20pt;
}

.border-container {
  margin: 16px;
  padding: 6% 10%;
  border: 12px solid rgba(255, 255, 255, 0.5);
  width: auto;
  height: auto;
}

.white-container {
  padding: 32px 40px;
  background: white;
  width: 100%;
  height: auto;
}

.white-auto-container {
  padding: 32px 40px;
  background: white;
  width: auto;
  height: auto;
}

.semi-bold {
  font-weight: 700;
}

.centered {
  text-align: center;
}

.float-right {
  float: right;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-64 {
  margin-top: 64px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-16 {
  padding: 16px;
}

.main-container {
  margin: 2vw auto;
  width: 75vw;
  flex-grow: 1;
}

.map-container {
  margin: 32px 0;
  height: 320px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}